[Desktop Entry]
Type=Application
Name=Melodeon
GenericName=Lyrion Controller
Comment=Listen to music via Lyrion
Icon=melodeon
Exec=melodeon
Categories=Qt;KDE;AudioVideo;Player;
Keywords=Music;LMS;Squeeze;SqueezeBox
