[Desktop Entry]
Type=Application
Name=Melodeon
GenericName=LMS Controller
Comment=Listen to music via LMS
Icon=melodeon
Exec=melodeon
Categories=Qt;KDE;AudioVideo;Player;
Keywords=Music;LMS;Squeeze;SqueezeBox
